In [9]:
import pandas as pd
import numpy as np
import json

In [10]:
df = pd.read_csv("./taylor_swift_lyrics.csv", encoding='latin1')
df.head(3)

,artist,album,track_title,track_n,lyric,line,year
0,Taylor Swift,Taylor Swift,Tim McGraw,1,He said the way my blue eyes shined,1,2006
1,Taylor Swift,Taylor Swift,Tim McGraw,1,Put those Georgia stars to shame that night,2,2006
2,Taylor Swift,Taylor Swift,Tim McGraw,1,"I said, ""That's a lie""",3,2006

In [11]:
titles = list(np.unique(list(df.track_title)))
titles = [
    title.replace('.', '').replace('(', '').replace(')', '')
    for title in titles
]
words = []
pairs = {}
for title in titles:
    for w in title.split(' '):
        if len(w) > 2 and '\xa0' not in w and len(w) < 6:
            if w in words:
                pairs[w.upper()].append(title)
            else:
                words.append(w)
                pairs[w.upper()] = [title]
with open("titles.json", "w+") as f:
    json.dump(pairs, f)

In [12]:
pairs = {}
for i, elem in df.iterrows():
    words = elem.lyric
    words = words.split(' ')
    words = [w \
        .replace('(', '') \
        .replace(')', '') \
        .replace('"', '') \
        .replace(',', '') \
        .replace('.', '')
        for w in words]
    for w in words:
        if w not in pairs:
            pairs[w.upper()] = {"Lyric": elem.lyric, "Song": elem.track_title, "Album": elem.album}

with open("lyrics.json", "w+") as f:
    json.dump(pairs, f)